<a class=" text-decoration-none text-gray-600" [routerLink]="['/requests/list']">
  <i class="fa fa-chevron-left"></i>
  <span class="font-lg ml-2" [translate]="'Requests.Homepage'"></span>
</a>

<h2 class="pb-4 pt-2" [translate]="'PreferredSpecialtyRequestActions.PreferredSpecialtyRequest'"></h2>
<div class="card" *ngIf="!loading && preferredSpecialtyRequestAction">
  <div class="card-body">
    <span [translate]="'PreferredSpecialtyRequestActions.AlreadyRequested'" [translateParams]="{
      specialty: preferredSpecialtyRequestAction.specialty?.name,
      requestDate: preferredSpecialtyRequestAction.startTime | date: 'dd/MM/yyyy',
      actionStatus: 'Requests.ActionStatusTypes.' + preferredSpecialtyRequestAction.actionStatus?.alternateName | translate
    }"></span>
  </div>
</div>
<div class="card" *ngIf="!loading && !preferredSpecialtyRequestAction">
  <div class="card-body">
    <span [translate]="'PreferredSpecialtyRequestActions.RequestNotFound'"></span>
  </div>
</div>
